<div class="container">
  <div class="login-form">
    <div class="main-div">
    <h2 >Chatting Application</h2>
    <form>
      <div class="form-group">
        <input #email class="form-control" id="exampleInputEmail1" type="email" name="email" placeholder="Email">
      </div>
      <div class="form-group">
          <input #password class="form-control" id="exampleInputPassword1" type="password" name="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary" (click)="login(email.value, password.value)">Login</button>
    </form>
     <div style="text-align:left; color: red; padding: 10px 20px;">
        <span *ngFor="let m of messages">{{m}}</span>
      </div>
  </div>
</div>

</div>
